
.crowd-main .demand-wrap {
  position: absolute;
  top: 0;
  background: white; }
  .crowd-main .demand-wrap .row1 {
  /*  background: #0a0b18;
    background-image: url("../images/d2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;*/
    /*height:100%;*/
    position: relative; }
    .crowd-main .demand-wrap .row1 .img1 {
      width: 100%; }
    .crowd-main .demand-wrap .row1 .img3 {
      width: 2.48rem;
      position: absolute;
      top: 3.45rem;
      right: 1.6rem; }
    .crowd-main .demand-wrap .row1 .con1 {
      position: absolute;
      top: 2.6rem;
      left: 2.42rem; }
      .crowd-main .demand-wrap .row1 .con1 .p1 {
        font-size: 0.65rem;
        color: #ffffff;
        margin-bottom: 0.35rem; }
        .crowd-main .demand-wrap .row1 .con1 .p1 .a12 {
          color: #f75016; }
      .crowd-main .demand-wrap .row1 .con1 .p2 {
        font-size: 0.25rem;
        color: #fff;
        margin-bottom: 0.08rem; }
        .crowd-main .demand-wrap .row1 .con1 .p2 .a21 {
          font-weight: bold; }
        .crowd-main .demand-wrap .row1 .con1 .p2 .a22 {
          font-weight: lighter;
          padding-right: 0.25rem; }
      .crowd-main .demand-wrap .row1 .con1 .p3 {
        margin-top: 1.1rem; }
        .crowd-main .demand-wrap .row1 .con1 .p3 input {
          background: #f75016;
          padding: 0.1rem 0.3rem;
          border: 0; }
      .crowd-main .demand-wrap .row1 .con1 .con2{
        margin-top: 0.9rem;
      }
    .crowd-main .demand-wrap .row1 .con2 .p1 {
      width: 12rem;
      margin: 0 auto;
      padding: 0.9rem 0;
      font-size: 0.18rem;
      color: #fff;
      font-weight: 200; }
  .crowd-main .demand-wrap .row2 {
    width: 15rem;
    margin: 0 auto 1.27rem; }
    .crowd-main .demand-wrap .row2 .p1 {
      font-size: 0.48rem;
      color: #f75016;
      font-weight: 600;
      text-align: center;
      padding: 0.8rem 0 0.7rem;
      border-bottom: 1px solid #e0e0e0; }
    .crowd-main .demand-wrap .row2 .div1 {
      display: flex; }
      .crowd-main .demand-wrap .row2 .div1 .dd-left {
        border-left: 1px solid #e0e0e0; }
      .crowd-main .demand-wrap .row2 .div1 .dd {
        flex: 1;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        text-align: center; }
        .crowd-main .demand-wrap .row2 .div1 .dd:hover .dp1 {
          color: #3d56bb; }
        .crowd-main .demand-wrap .row2 .div1 .dd img {
          padding: 0.7rem 0 0.4rem; }
        .crowd-main .demand-wrap .row2 .div1 .dd .dp1 {
          color: #242424;
          font-size: 0.25rem;
          font-weight: 500; }
        .crowd-main .demand-wrap .row2 .div1 .dd .dp2 {
          color: #747474;
          font-size: 0.14rem;
          padding: 0.3rem 0.7rem 0.5rem; }
  .crowd-main .demand-wrap .row3 {
    background: #0a0b18;
    background-image: url("../images/d4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-bottom: 1.72rem; }
    .crowd-main .demand-wrap .row3 .p1 {
      font-size: 0.48rem;
      color: #f75016;
      font-weight: 600;
      text-align: center;
      padding: 0.8rem 0 0.7rem; }
    .crowd-main .demand-wrap .row3 .row3-con {
      width: 15rem;
      margin: 0 auto;
      color: white; }
    .crowd-main .demand-wrap .row3 .div1 .dd1 {
      background: url("../images/w11.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd2 {
      background: url("../images/w22.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd3 {
      background: url("../images/w33.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd4 {
      background: url("../images/w44.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd5 {
      background: url("../images/w55.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd6 {
      background: url("../images/w66.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd7 {
      background: url("../images/w77.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd8 {
      background: url("../images/w88.png"); }
    .crowd-main .demand-wrap .row3 .div1 .dd-img {
      width: 10rem;
      height: 5.4rem; }
      .crowd-main .demand-wrap .row3 .div1 .dd-img .e-img {
        width: 4.55rem; }
    .crowd-main .demand-wrap .row3 .div1 .dd {
      height: 2.71rem;
      width: 5rem;
      text-align: center;
      background-position: 0 10%;
      background-repeat: no-repeat;
      background-color: rgba(240, 240, 240, 0.2);
      background-size: 0.84rem; }
      .crowd-main .demand-wrap .row3 .div1 .dd:hover {
        background-color: rgba(240, 240, 240, 0.05); }
      .crowd-main .demand-wrap .row3 .div1 .dd img {
        width: 0.38rem;
        padding: 0.38rem 0 0.3rem; }
      .crowd-main .demand-wrap .row3 .div1 .dd .dp1 {
        color: #fff;
        font-size: 0.2rem;
        font-weight: 500; }
      .crowd-main .demand-wrap .row3 .div1 .dd .dp2 {
        color: #fff;
        font-size: 0.14rem;
        font-weight: 200;
        padding: 0.3rem 0.5rem; }

  .crowd-main .demand-wrap .border-bottom1 {
    border-bottom: 2px solid #15162b; }
  .crowd-main .demand-wrap .border-left1 {
    border-left: 2px solid #15162b; }
  .crowd-main .demand-wrap .border-right1 {
    border-right: 2px solid #15162b; }

/*# sourceMappingURL=new-crowd.css.map */
